.vertigo-trekking-quote {
    color: #888;
    font-family: var(--font-po);
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    background: url(../assets/images/footer-vertigo-transparent2.png) bottom center repeat-x;
    padding: 0rem 0;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: bottom center;
}

.vertigo-trekking-quote {
    background-image: url(../../assets/images/footer-vertigo-transparent2.png);
    background-size: cover;
    background-color: #fff;
    min-height: 32rem;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: bottom center;
}

.copy-text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-text-footer>p {
    padding: 10px;
    margin: 0;
    color: var(--light);
    font-size: 14px;
    font-weight: 200;
}

.footer-top {
    margin-top: -450px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .ftco-footer-widget {
        padding: 1rem !important;
    }

    .ftco-heading-2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .ftco-footer-widget {
        padding: 1rem !important;
    }

    .ftco-heading-2 {
        font-size: 1.4rem;
    }

    .vertigo-trekking-quote {
        padding: 0rem 0;
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .ftco-footer-widget {
        padding: 1rem !important;
    }

    .ftco-heading-2 {
        font-size: 1.3rem;
    }

    .vertigo-trekking-quote {
        padding: 0rem 0;
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .footer-top {
        margin-top: 0;
    }

    .ftco-footer {
        font-size: 16px;
        padding: 7em 0;
        z-index: 0;
        background-color: #001102;
    }

    .ftco-footer-widget {
        padding: 1rem !important;
    }

    .ftco-heading-2 {
        font-size: 1.2rem;
    }

    .vertigo-trekking-quote {
        padding: 0rem 0;
        font-size: 0.9rem;
    }

    .block-23 ul li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .block-23 ul li span {
        display: block;
        margin-top: 5px;
    }
}